<% status = task.checked ? "checked" : "unchecked" %>
<li id="task-<%= task.id %>">
	<%= link_to task.content, task, method: :patch, class: "task_update #{status}" %>
	<% if current_user?(task.user) %>
		<%= link_to "X", task, method: :delete, class: "task_delete" %>
	<% end %>
</li>