<%= form_for(@task) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="field col-md-10">
			<%= f.text_field :content, placeholder: "Compose new task..." %>
		</div>
		<div class="col-md-2">
			<%= f.submit "+", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>