@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* global */

body {
	padding-top: 60px;
}

.center {
	text-align: center;
}

/* footer */

footer {
	border-top: 1px solid $gray-light;
	margin-top: 50px;
	padding-top: 5px;
	small {
		float: left;
	}
	nav {
		float: right;
	}
	ul {
		list-style: none;
		li {
			float: left;
			margin-left: 20px;
		}
	}
}

/* forms */

input, textarea, select, .uneditable-iput {
	border: 1px solid #bbb;
	margin-bottom: 15px;
	width: 100%;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-bottom: 10px;
	margin-top: -10px;
	span {
		font-weight: normal;
		margin-left: 20px;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* todo list */

.todo_list {
	list-style: none;
}

.todo_list li:first-child {
	border-width: 1px;
} 

.todo_list li {
	border-color: #d3d3d3;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	display: flex;
	position: relative;
	width: 100%;
	a {
		background-color: #efefef;
		color: #000;
		display: inline-block;
		padding: 5px;
		text-decoration: none;
		&:hover {
			opacity: 0.7;
		}
		&.checked {
			background: #97d187;
			text-decoration: line-through;
			&::before {
				content: '';
				position: absolute;
				border-color: #fff;
				border-style: solid;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				top: 5px;
				left: 10px;
				height: 15px;
				width: 7px;
			}
		}
		&.task_update {
			flex: 1;
			padding: 5px 5px 5px 30px;
		}
		&.task_delete {
			background-color: #ce9299;
			color: #701620;
			flex-basis: auto;
			flex-grow: 0px;
			font-weight: bold;
			overflow: hidden;
			padding: 5px 10px;
		}
	}
}

.task_form .field input{
	position: relative;
	top: 5px;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}